.expr-simple-item {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 520px; 
    margin: 10px;
    background-color: #afaaaa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    padding: 3px;
    border-radius: 5px;
    position: relative;
}

.expr-simple-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: inherit;
}

.node-error{
    border: solid 2px red;
    margin: 8px;
}

.expr-simple-handle {width: 20px; margin-right: 5px;}
.expr-simple-menu {display: flex;}
.expr-simple-field { width: 160px;}
.expr-simple-value {display: flex; }