.expr-complex-item {border: solid 1px green;}

.expr-children {background: #ccc;}
.expr-children > div:first-child {background: green;} 
.expr-children > div:last-child {background: blue;} 
.expr-children > div:only-child {background:red;}

.expr-logic-operator {width: 120px;}